<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,
400,500,700&display=swap"
    />
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    </style>
    <title></title>
  </head>
  <body
    style="
      background-color: #f5f6f8;
      width: 100vw;
      font-family: 'Roboto', Helvetica, sans-serif;
    "
  >
    <br />
    <img
      src="{{{logo}}}"
      alt="Stcker"
      class="logo"
      style="width: 12rem; height: 4rem; display: block; margin: 2rem auto"
    />
    <div
      class="wrapper"
      style="
        background: #fff;
        width: 100%;
        max-width: 550px;
        margin: auto;
        padding: 3rem 1.5rem;
        border-radius: 2px;
      "
    >
      <p style="margin: 1rem 0; font-size: 1.1rem">
        Almost done, <strong>{{{firstname}}}</strong>. To complete your Stcker
        sign up, we just need to verify your email address:
        <a
          href="mailto: {{{email}}}"
          style="text-decoration: none; color: #cb3837"
          >{{{email}}}</a
        >
      </p>
      <a
        href="{{{link}}}"
        style="
          background-color: #cb3837;
          color: #fff;
          display: block;
          width: fit-content;
          padding: 0.8rem 1rem;
          place-items: center;
          text-align: center;
          outline: none;
          border: none;
          margin: 2rem 0;
          border-radius: 5px;
          text-decoration: none;
        "
        target="_blank"
      >
        Verify email address
      </a>
      <p style="margin: 1rem 0; font-size: 1rem">
        Once verified, you can start exploring all our categories of stickers
      </p>
      <p style="margin: 1rem 0; font-size: 1rem">
        Button not working? Paste the following link into your browser:
        <a
          href="{{{link}}}"
          target="_blank"
          style="text-decoration: none; color: #cb3837"
          >{{{link}}}</a
        >
      </p>
      <p style="margin: 1rem 0; font-size: 1rem">
        You are receiving this email because you recently created a new Stcker
        account. If this wasn't you please ignore this email or
        <a
          href="{{{supportLink}}}"
          style="text-decoration: none; color: #cb3837"
          >contact support</a
        >
        if you have questions
      </p>
    </div>
    <h3
      style="
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        margin: 2rem auto;
      "
      class="footer"
    >
      Stcker
    </h3>
  </body>
</html>
